
.page {
  background-color: rgba(238, 242, 246, 1);
  position: relative;
  width: 750px;
  height: 1624px;
  overflow: hidden;
}
.outer1 {
  box-shadow: 0px 1px 1px 0px rgba(239, 239, 239, 1);
  height: 176px;
  width: 750px;
}
.group1 {
  background-color: rgba(17, 17, 17, 1);
  z-index: 4;
  height: 128px;
  margin-top: 48px;
  width: 750px;
  position: relative;
}
.section1 {
  width: 670px;
  height: 36px;
  margin: 67px 0 0 40px;
}
.layer1 {
  width: 32px;
  height: 32px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng45c3a3e7c244b04f1091d63f75b15528fd5453425adc17465090f0c173047aa0) -3px -3px
    no-repeat;
  margin-top: 2px;
}
.txt1 {
  width: 540px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-family: PingFangSC-Medium;
  text-align: center;
  white-space: nowrap;
  line-height: 36px;
  display: block;
}
.layer2 {
  width: 32px;
  height: 32px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2567fe59b6903fb9447cd00b7a8f76e133f981ca031a6f7edb553c47b3f33f3d) -3px -3px
    no-repeat;
  margin-top: 2px;
}
.section2 {
  background-color: rgba(17, 17, 17, 1);
  z-index: 16;
  height: 88px;
  width: 750px;
  position: absolute;
  left: 0;
  top: -48px;
}
.main1 {
  width: 679px;
  height: 34px;
  margin: 31px 0 0 42px;
}
.outer2 {
  width: 108px;
  height: 34px;
  overflow-wrap: break-word;
  font-size: 0;
  letter-spacing: -0.5600000023841858px;
  font-family: Helvetica;
  text-align: center;
  white-space: nowrap;
  line-height: 34px;
}
.word1 {
  width: 108px;
  height: 34px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: Helvetica;
  text-align: left;
  white-space: nowrap;
  line-height: 34px;
}
.txt2 {
  width: 108px;
  height: 34px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  font-family: Helvetica;
  text-align: left;
  white-space: nowrap;
  line-height: 34px;
}
.outer3 {
  width: 34px;
  height: 21px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng727d16558c997e77cc36290e881cb143208f369f60ed1bfda89344f677c4c525) -1px
    0px no-repeat;
  margin: 4px 0 0 437px;
}
.outer4 {
  width: 31px;
  height: 22px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2d2d908e3826aa3c6aa65b26c4637da6a8849546b9cc1752221ade5e0c9a661d) -1px -1px
    no-repeat;
  margin: 4px 0 0 10px;
}
.outer5 {
  width: 49px;
  height: 23px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngfeebd069d8b7a72a11ce05f029d418ce668155bc1e533c27fe579c70feabcbd4) -3px -4px
    no-repeat;
  margin: 4px 0 0 10px;
}
.outer6 {
  width: 750px;
  height: 411px;
}
.group2 {
  width: 750px;
  height: 386px;
}
.bd1 {
  height: 307px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4d14ba426c86c4e39a75bf3c4c75776fa50f69db177e6935ce293686d2c6ed27)
    100% no-repeat;
  width: 750px;
}
.box1 {
  width: 686px;
  height: 254px;
  margin: 56px 0 0 32px;
}
.bd2 {
  width: 686px;
  height: 48px;
}
.ImageText1 {
  width: 356px;
  height: 48px;
}
.TextGroup1 {
  height: 48px;
  width: 308px;
}
.word2 {
  width: 308px;
  height: 48px;
  overflow-wrap: break-word;
  color: rgba(29, 39, 50, 1);
  font-size: 48px;
  font-family: PingFangSC-Semibold;
  text-align: justify;
  white-space: nowrap;
  line-height: 48px;
  display: block;
}
.section3 {
  width: 32px;
  height: 32px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd7eb84ecf61936231dd12382a4e2f19cb884b155bd5da23a6d711ed841a97098)
    100% no-repeat;
  margin-top: 9px;
}
.outer7 {
  width: 40px;
  height: 40px;
  background: url(https://lanhu-dds-backend.oss-cn-beijing.aliyuncs.com/merge_image/imgs/dc8e9f2733d94afab0d73dc6bdbde7a0_mergeImage.png)
    100% no-repeat;
  margin-top: 4px;
}
.bd3 {
  width: 686px;
  height: 148px;
  margin-top: 58px;
}
.bd4 {
  height: 148px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bc7044661df3b6e2ebfd112f169346f5f2be7a5e53dfa6e925a5ea8a0a40ee8)
    100% no-repeat;
  width: 335px;
}
.mod1 {
  width: 311px;
  height: 108px;
  margin: 40px 0 0 24px;
}
.TextGroup2 {
  width: 160px;
  height: 68px;
}
.info1 {
  width: 128px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  text-align: justify;
  white-space: nowrap;
  line-height: 32px;
  display: block;
}
.txt3 {
  width: 160px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: justify;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 16px;
  display: block;
}
.block1 {
  width: 96px;
  height: 96px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bec29b743ec0b31f37d5cff5f2175cb57271cddeb72672da542f010bbb7eb68)
    100% no-repeat;
  margin-top: 12px;
}
.bd5 {
  height: 148px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng624b073f4c3b3aacb439d2ec3c236c7c626de5122b8cd47a9b51c9c7d31d2e8b)
    100% no-repeat;
  width: 335px;
}
.mod2 {
  width: 311px;
  height: 108px;
  margin: 40px 0 0 24px;
}
.TextGroup3 {
  width: 160px;
  height: 68px;
}
.txt4 {
  width: 128px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  text-align: justify;
  white-space: nowrap;
  line-height: 32px;
  display: block;
}
.info2 {
  width: 160px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: justify;
  white-space: nowrap;
  line-height: 20px;
  margin-top: 16px;
  display: block;
}
.layer3 {
  width: 96px;
  height: 96px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7a79a7de45968c2612677380722c6b9e59fbea911b770c20fcddbdf6a0402048)
    100% no-repeat;
  margin-top: 12px;
}
.info3 {
  width: 144px;
  height: 36px;
  overflow-wrap: break-word;
  color: rgba(29, 39, 50, 1);
  font-size: 36px;
  font-family: PingFangSC-Semibold;
  text-align: justify;
  white-space: nowrap;
  line-height: 36px;
  display: block;
  margin: 43px 0 0 32px;
}
.outer8 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  height: 407px;
  width: 686px;
  margin: -1px 0 0 32px;
}
.mod3 {
  width: 638px;
  height: 343px;
  margin: 32px 0 0 24px;
}
.box2 {
  width: 638px;
  height: 32px;
}
.info4 {
  width: 404px;
  height: 32px;
  overflow-wrap: break-word;
  color: rgba(29, 39, 50, 1);
  font-size: 32px;
  font-family: PingFangSC-Medium;
  text-align: justify;
  white-space: nowrap;
  line-height: 32px;
  display: block;
}
.section4 {
  height: 32px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5bfe9b4c45a05fdd3c55b124222d2916fbd13b4a52a4886a37387147089556c8)
    100% no-repeat;
  width: 71px;
}
.txt5 {
  width: 40px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  text-align: justify;
  white-space: nowrap;
  line-height: 24px;
  display: block;
  margin: 4px 0 0 19px;
}
.ImageText2 {
  width: 234px;
  height: 24px;
  margin-top: 16px;
}
.section5 {
  width: 24px;
  height: 24px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8e2c7cab4580ce550bbfca8d776c1408b78fc346756f4003d873e8d1c0702f43)
    100% no-repeat;
}
.TextGroup4 {
  height: 24px;
  width: 202px;
}
.info5 {
  width: 202px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(158, 174, 193, 1);
  font-size: 24px;
  text-align: justify;
  white-space: nowrap;
  line-height: 24px;
  display: block;
}
.ImageText3 {
  width: 527px;
  height: 24px;
  margin-top: 16px;
}
.wrap1 {
  width: 24px;
  height: 24px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd38ae81c8a808b2b7367b3ee13e6d3e6d14bd05c68c932d68cec0fabebd7ca49)
    100% no-repeat;
}
.TextGroup5 {
  height: 24px;
  width: 495px;
}
.word3 {
  width: 495px;
  height: 24px;
  overflow-wrap: break-word;
  color: rgba(158, 174, 193, 1);
  font-size: 24px;
  text-align: justify;
  white-space: nowrap;
  line-height: 24px;
  display: block;
}
.box3 {
  width: 637px;
  height: 207px;
  margin-top: 24px;
  justify-content: space-between;
}
.mod4 {
  background-color: rgba(216, 216, 216, 1);
  border-radius: 8px;
  height: 207px;
  margin-right: 8px;
  width: 207px;
}
.main2 {
  height: 207px;
  width: 207px;
}
.layer4 {
  background-color: rgba(0, 0, 0, 0.6);
  height: 24px;
  width: 49px;
  margin: 175px 0 0 150px;
}
.word4 {
  width: 33px;
  height: 20px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  text-align: justify;
  white-space: nowrap;
  line-height: 20px;
  display: block;
  margin: 2px 0 0 8px;
}